{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
 <h2 align="center">history</h2>
 <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>stock</th>
                <th>price</th>
                <th>shares</th>
                <th>time</th>
                <th>transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(length) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ history[i]["stock_symbol"] }}</td>
                <td>${{ history[i]["buying_price"] }}</td>
                <td>{{ history[i]["shares"] }}</td>
                <td>{{ history[i]["time"] }} </td>
                <td>{{ history[i]["type"]}}</td>
            </tr>
            {% endfor %}
        </tbody>




 </table>
{% endblock %}